@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

html, body {
  font-family: "Glass Antiqua", Helvetica, sans-serif;
  background-color: rgb(1, 18, 33);
  color: antiquewhite;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 30px;
}

h1{
  font-size: 50px;
}

input{
  padding: 12px;
  box-sizing: border-box;
  text-align: left;
  font-family: "Glass Antiqua", Helvetica, sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

button{
    font-family: "Glass Antiqua", Helvetica, sans-serif;
    font-size: inherit;
}

.submitForm {
  width: auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer{
  padding: 20px;
  margin-top: auto;
  font-size: 25px;
}